# Unity
unity_viewer/[Ll]ibrary/
unity_viewer/[Tt]emp/
unity_viewer/[Oo]bj/
unity_viewer/[Bb]uild/
unity_viewer/[Ll]ogs/
unity_viewer/[Uu]ser[Ss]ettings/
unity_viewer/.vs/
unity_viewer/*.csproj
unity_viewer/*.sln

# Simulation exports
exported_grid_states/
