[Desktop Entry]
Encoding=UTF-8
Name=Link to Reinforcement Learning with Predator/Prey - Wx + b
Type=Link
URL=https://renmusxd.github.io/pred_prey.html
Icon=text-html
