[Desktop Entry]
Encoding=UTF-8
Name=Link to krauthex/Imazalil: Codebase for Bachelor's Thesis. Reinforcement Learning on Predator Prey Simulations
Type=Link
URL=https://github.com/krauthex/Imazalil
Icon=text-html
